Source: acai
Section: web
Priority: optional
Maintainer: John Franklin <john.franklin@bixal.com>
Build-Depends: debhelper-compat (=13), dh-exec
Standards-Version: 3.9.8
Homepage: https://github.com/Bixal/acai

Package: acai
Architecture: all
Recommends: certbot
Depends: python3, python3-acapi2, ${misc:Depends}
Description: Acquia Cert Automatic Install
  A tool to install Certbot certificates in an Acquia environment.
